
h1.topic {
    color: black;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
div.image-container.hyper {
    background-image: url("backgroundhyper.jpg");
}
div.image-container {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 75% ;
    margin: 0 auto;
    min-height: 400px;
    top: 10%;
    position: relative;
}

div.center-container {
    background:white;
    opacity: 70%;
    margin:0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 2em;

}
p {
    color: black;
    font-style: italic;
    font-family: fantasy;
}
div.author {
    color:black;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    text-align: right;
}